<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635584902782-pimnjlh16l8dj1p7taajj17cot19f4a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635584902782-pimnjlh16l8dj1p7taajj17cot19f4a0</string>
	<key>API_KEY</key>
	<string>AIzaSyCgwLC2yWYfeW_UgiDCXRkao9JgwGF_eNM</string>
	<key>GCM_SENDER_ID</key>
	<string>635584902782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kemuel.PakiApp</string>
	<key>PROJECT_ID</key>
	<string>pakiapp-846bf</string>
	<key>STORAGE_BUCKET</key>
	<string>pakiapp-846bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635584902782:ios:2b35273828db480e268a2f</string>
	<key>DATABASE_URL</key>
	<string>https://pakiapp-846bf.firebaseio.com</string>
</dict>
</plist>